@{
    ViewData["Title"] = "About us";
}

<h1>@ViewData["Title"]</h1>
<p>FPTJobMarch is a web-based application designed for employers to recruit new employees and for job seekers to secure employment efficiently. The website aims to revolutionize traditional recruitment and job seeking methods, providing opportunities for lesser-known companies and inexperienced applicants to achieve faster and better results.</p>
