@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="col-sm-12">
        <h1 class="display-4">Welcome to FPTJobMarch</h1>
        <p>This website serves as a platform for employers to discover new employees and for job seekers to find employment more efficiently than traditional methods.</p>
    </div>
</div>
