@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>1. Account sharing is prohibited.</p>
<p>2. We reserve the right to utilize your information for website purposes.</p>
<p>3. After registering your account, please contact the admin to assign your role.</p>
<p>4. Access to pages outside of your designated role is restricted.</p>
<p>Thank you for your attention to our policies. Have a great day!</p>

